/*
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

.container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}


/* HEADER */
.hidden__text {
    display: none;
}
.header {
    background: #F9F9F9;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/image/desktop_compettor.png);
    background-size: cover;
}
.header__body_logo {
    margin-top: 30px;
    width: 100px;
}
.header__body {
    text-align: center;
    padding-top: 22vh;
}
.header__body_text {
    width: 450px;
    height: 550px;
    background: rgba(0, 0, 0, 0.849);
    color: white;
    margin: 0 auto;
    border-radius: 25px;
    position: relative;
}
.header__body_top {
    width: 90%;
    position: relative;
    left: 0%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__body_top img {
    width: 100px;
}

.header__body_top a {
    margin-top: 12px;
    color: black;
}

.header__body_desc {
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
    color: #e9e9e9;
}

.header__body_ashley {
    font-weight: 400;
    font-size: 26px;
    color:white;
    margin-top: 25px;
    letter-spacing: 10px;
}

.header__body_ashley span {
    letter-spacing: 0px;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.msg__image {
    width: 250px;
    margin: 0 auto;
}

.header__body_join {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

.header__body_down {
    width: 40px;
    margin-top: 90px;
    cursor: pointer;
}
.header__flag {
    position: absolute;
    top: 0;
    left: 0;
}
.header_button {
    margin-top: 35px;
    background: linear-gradient(0deg, #b870c7, #d2689c);
    border: none;
    font-size: 18px;
    border-radius: 50px;
    color: white;
    padding: 15px 35px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.header__body_down_block {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}
.header__body_down_block p {
    margin-bottom: 10px;
}
.woman__banner {
    width: 100vw;
    max-width: 1920px;
    margin-top: 80px;
}

.button_mask {
    position: absolute;
    background: #ffcfdb;
    width: 30px;
    height: 160%;
    left: 0;
    top: -20px;
    opacity: 0.6;
    transform: skewX(-15deg) translateX(-100px);
    z-index: 999;
    position: absolute;
    transition: 0.6s;
    filter: blur(5px);
}


/* ADVANTAGES */

.advantages {
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}

.adv__body {
    width: 60%;
    margin: 0 auto;
}

.adv__list_header {
    display: flex;
    justify-content: space-between;
    width: 105%;
    left: -2.5%;
    position: relative;
    margin-bottom: 20px;
}

.list_vs {
    width: 30px !important;
    height: 19px;
    margin-top: 20px;
}

.adv__list_header img {
    width: 70px;
}

.adv_item_left {
    width: 65%;
    display: flex;
    align-items: center;
}

.adv_item_icon {
    width: auto;
    height: 70px;
    margin-right: 5%;
}

.adv__item_text {
    font-size: 18px;
    width: 40%;
}

.adv__item_text img {
    width: 40px;
    height: 40px;
}

.adv__item>img {
    width: 40px;
    height: 40px;
}

.adv__item_desc {
    font-weight: 500;
    font-size: 16px;
    width: 100%;
}

.adv__item_text {
    align-items: center;
    text-align: center;
}

.adv__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.adv_item_right {
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.adv_item_right img {
    width: 70px;
    height: 70px;
}


/* DIFFERENT */

.different {
    background: #EFEFEF;
    padding-bottom: 50px;
    padding-top: 50px;
}

.different__body {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.different__body_title {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: rgb(0, 0, 0);
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 600;
}

.different__body_item {
    display: block;
    align-items: center;
    margin-bottom: 30px;
}

.different__body_item_text {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 600 !important;
    margin-left: 5%;
    font-weight: 400;
    text-align: left;
    font-size: 18px;
}

.different__body_item img {
    width: 20px;
}

.different__body_items {
    width: 60%;
    margin: 0 auto;
}

.different_body_quest {
    display: flex;
    align-items: center;
}

.different__body_item_desc {
    text-align: left;
    line-height: 20px;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 45px;
    display: none;
    transition: 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    position: relative;
    right: 100%;
}

.different__body_item_desc p {
    margin-bottom: 10px;
}

.different__body_item_desc span {
    font-weight: 700;
}

.faq_show {
    animation: faq_show 0.3s forwards;
}

@keyframes faq_show {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    100% {
        transform: translate3d(111.5%, 0, 0);
    }
}

.different__body_item_desc {
    height: 0;
    transition: 0.3s;
}

.different__body_item {
    cursor: pointer;
}

.faq_active {
    height: auto;
    display: block;
}


/* NOTIFICATION */

.notification {
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

.not__body_title {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
}

.not_image {
    width: 70%;
}

.not__body_header {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    position: relative;
    left: 26%;
}

.not__body_text {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    width: 40%;
    text-align: left;
    font-size: 18px;
}

.not__body_header img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.not_cards {
    width: 87%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.not_cards img {
    width: 400px;
    margin-bottom: 20px;
}

.popup__notify>div {
    position: relative;
}

.popup__notify>div>img {
    width: 300px;
}

.popup_close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(10px, -10px, 0);
    background: rgba(0, 0, 0, 0.35);
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 12px;
    padding-top: 5px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.popup__notify {
    transform: translate3d(100%, 0, 0);
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
    transition: 0.5s;
}

.register_blinks {
    margin-left: 5px;
    animation-name: reg_blinks;
    animation: reg_blinks 1s cubic-bezier(0, -0.04, 0.54, 1.23) infinite;
}

@keyframes reg_blinks {
    0% {
        transform: translate3d(0px, 0, 0);
    }
    50% {
        transform: translate3d(3px, 0, 0);
    }
    100% {
        transform: translate3d(0px, 0, 0);
    }
}


/* MESSAGES */

.messages {
    background: #EFEFEF;
    padding-top: 40px;
    padding-bottom: 40px;
}

.msg__container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.msg__body {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.msg__body_title {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
}

.msg__body_desc {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 25px;
}

.msg__body_image {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.msg__body_image img {
    width: 90%;
    margin-left: 5%;
}

.msg__sasha {
    display: inline-grid;
    text-align: center;
}

.msg_icon {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.msg__text {
    font-size: 21px;
    width: 100%;
}

.msg__body>img {
    width: 40px;
    height: 25px;
    margin-top: 60px;
}

.msg__sasha {
    width: 35%;
}

.text__body {
    width: 90%;
    margin: 0 auto;
}


/* TEXT */

.text {
    padding-bottom: 15vh;
    padding-top: 80px;
    background: white;
    text-align: left;
}

.text__body_title {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}

.text__body_desc {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: rgb(48, 48, 48);
}


/* FOOTER */

.footer {
    background-color: #e9e9e9;
    height: auto;
    padding-bottom: 20vh;
    background-repeat: no-repeat;
}

.footer__body {
    text-align: center;
    padding-top: 100px;
}

.footer__body_title {
    width: 50%;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.footer__body_button {
    margin-top: 30px;
    width: 25%;
    box-sizing: unset;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 100px;
    border: none;
    background: white;
    color: #ED5C82;
    cursor: pointer;
    box-shadow: 0px 0px 7px 10px rgb(255 255 255 / 10%);
}

.footer__body_bottom {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background: white;
    height: auto;
    transform: translate3d(0, 110%, 0);
    transition-timing-function: cubic-bezier(1, 0.01, 0.31, 0.98);
    transition: 0.5s;
    -webkit-box-shadow: 0px -11px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px -11px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px -11px 15px 0px rgba(0, 0, 0, 0.2);
}

.footer__body_content {
    display: inline-grid;
    width: 100%;
}

.footer__body_bottom img {
    width: 30%;
    margin: 0 auto;
}

.footer__body_button_2 {
    margin-bottom: 30px;
    background: #ED5C82;
    border: none;
    overflow: hidden;
    font-size: 24px;
    border-radius: 50px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    width: 40%;
    margin: 0 auto;
}

.footer__body_button_2:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 0px 52px 35px rgba(237, 92, 130, 0.2);
    -moz-box-shadow: 0px 0px 52px 35px rgba(237, 92, 130, 0.2);
    box-shadow: 0px 0px 52px 35px rgba(237, 92, 130, 0.2);
}

.footer__body_text {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 30px;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer__body_bottom {
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer__body_text_1 {
    margin-top: 5px;
    font-weight: 400;
    font-size: 16px;
}

.footer__body_button i {
    font-size: 10px;
}

.footer__body_button_2 i {
    font-size: 10px;
}

.footer__body {
    text-align: center;
    display: inline-grid;
    margin: 0 auto;
    width: 100%;
}

.footer__title {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
}

.footer_desc {
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer_button {
    margin-bottom: 30px;
    background: #ED5C82;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    color: white;
    padding: 10px 35px;
    cursor: pointer;
    width: 40%;
    margin: 0 auto;
}

.footer_button:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 0px 52px 35px rgba(237, 92, 130, 0.2);
    -moz-box-shadow: 0px 0px 52px 35px rgba(237, 92, 130, 0.2);
    box-shadow: 0px 0px 52px 35px rgba(237, 92, 130, 0.2);
}

.footer_counter {
    margin: 0 auto;
    margin-top: 30px;
    width: 250px;
}

.header_button i {
    font-size: 16px;
    position: relative;
    bottom: 0px;
}

.footer_button i {
    font-size: 12px;
    position: relative;
    bottom: 1px;
}

.footer__body_button_2 {
    font-size: 18px;
    position: relative;
    bottom: 0px;
}

.footer_links {
    display: flex;
    margin: 0 auto;
}

.footer_links a {
    margin-right: 5px;
    display: flex;
    color: #ED5C82;
}


/* POPUP */

.popup__notify {
    width: 350px;
    position: fixed;
    left: calc(100vw - 350px);
    bottom: 12%;
}

.popup__notify img {
    cursor: pointer;
    width: 280px;
    display: grid;
    margin-bottom: 15px;
}


/* ADAPTIVE */

@media (max-width: 1024px) {

    .container {
        max-width: 840px;
        width: 100%;
        margin: 0 auto;
    }
    .header {
        background-repeat: no-repeat;
        height: 750px;
    }
    .header__body {
        text-align: center;
        padding-top: 8vh;
    }
    .different__body_item_text {
        font-size: 22px;
    }
    .different__body_item img {
        width: 25px;
    }
    .header__body_top a {
        margin-top: 5px;
        font-size: 25px;
    }
    .msg__body_image img {
        width: 60%;
        margin-left: 0%;
        margin: 0 auto;
    }
    .msg__body_title {
        font-size: 50px;
    }
    .msg__body_desc {
        font-size: 30px;
    }
    .text__body {
        width: 65%;
        margin: 0 auto;
    }
    .footer {
        background-repeat: no-repeat;
        background-color: #EFEFEF;
    }
    .text {
        padding-bottom: 15vh;
    }
    .footer__body_title {
        width: 70%;
        font-size: 40px;
    }
    .footer__body_text {
        font-size: 25px;
    }
    .footer__body_button {
        width: 35%;
        font-size: 25px;
    }
    .not_cards img {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .footer__body_button {
        width: 45%;
        font-size: 2vw;
    }
    .footer__body_button i {
        font-size: 1.4vw;
        position: relative;
    }
    .footer__body_button_2 {
        width: 55%;
        font-size: 2vw;
    }
    .footer__body_button_2 i {
        font-size: 1.4vw;
        position: relative;
    }
    .different__body_item_text {
        font-size: 22px;
        text-align: left;
    }
    .msg__body_image img {
        width: 70%;
        margin-left: 0%;
        margin: 0 auto;
    }
    .popup__notify {
        bottom: 12%;
    }
    .msg__sasha {
        width: 30%;
    }
    .msg__image {
        width: 100px;
    }
    .msg__text {
        font-size: 20px;
        width: 100%;
    }
    .msg_icon {
        width: 50px;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .msg__body {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .header__body_text {
        width: 60%;
        margin: 0 auto;
    }
    .header {
        background-position-x: 30%;
    }
    .header__body_top {
        width: 40%;
        left: 44%;
    }
    .different__body_items {
        width: 80%;
        margin: 0 auto;
    }
    .not__body_header {
        left: 16%;
    }
    .not__body_text {
        width: 60%;
    }
    .footer {
        background-position-x: 40%;
    }
    .footer__body_text {
        font-size: 20px;
    }
    .header__body_top {
        width: 80%;
        left: 0%;
        margin: 0 auto;
    }

    .woman__banner {
        width: 100vw;
        max-width: 1920px;
        margin-top: 80px;
        object-fit: none;
        height: 13vh;
    }
    .footer__title {
        font-size: 35px;
    }
    .footer__body_text {
        font-size: 30px;
    }
    .footer__body_button_2 {
        width: 40%;
        font-size: 2vw;
    }
}

@media (max-width: 650px) {
    .header__body_top a {
        margin-top: 10px;
        font-size: 18px;
    }
    .header__body_top {
        width: 45%;
        left: 44%;
    }
    .header {
        background-position-x: 40%;
    }
    .adv_item_icon {
        height: 50px;
    }
    .adv__body {
        width: 80%;
        margin: 0 auto;
    }
    .adv_item_right {
        width: 40%;
    }
    .adv_item_right img {
        width: 50px;
        height: 50px;
    }
    .adv__item_text {
        font-size: 18px;
        width: 50%;
    }
    .adv__list_header img {
        width: 90px;
    }
    .adv__list_header {
        width: 46%;
        left: 58%;
    }
    .different__body_items {
        width: 100%;
        margin: 0 auto;
    }
    .footer__body_title {
        width: 70%;
        font-size: 26px;
    }
    .footer__body_button {
        width: 45%;
        font-size: 25px;
    }
    .footer__body_text {
        font-size: 18px;
    }
    .footer__body_button_2 {
        margin-bottom: 10px;
    }
    .footer__body_bottom img {
        margin-top: 10px;
    }
    .footer__body_text_1 {
        margin-top: 14px;
    }
    .different__body_item_text {
        font-size: 18px;
    }
    .different__body_item img {
        width: 20px;
    }
    .header__body_top {
        width: 80%;
        left: 0%;
    }
    .header__body_top a {
        margin-top: 10px;
        font-size: 22px;
    }
    .adv__list_header {
        width: 100%;
        left: 0%;
    }
    .msg__body>img {
        width: 40px;
        height: 30px;
        margin-top: 60px;
    }
    .msg__sasha {
        width: 40%;
    }
    .footer_button {
        font-size: 22px;
        width: 60%;
    }
    .footer__body_text {
        font-size: 28px;
    }
    .footer__body_button_2 {
        width: 60%;
        font-size: 3vw;
    }
    .text {
        padding-bottom: 3vh;
    }
}

@media (max-width: 490px) {
    
    .header__body_top a {
        margin-top: 5px;
        font-size: 18px;
    }
    .header_button {
        width: 70%;
        font-size: 18px;
        margin-top: 15px;
        padding: 15px 20px;
    }
    @keyframes faq_show {
        0% {
            transform: translate3d(0%, 0, 0);
        }
        100% {
            transform: translate3d(114%, 0, 0);
        }
    }
    .popup__notify {
        bottom: 20%;
    }
    .adv__item>img {
        width: 40px;
        height: 40px;
    }
    .adv__list_header img {
        width: 60px;
        height: 30px;
    }
    .not_cards img {
        width: 80%;
        margin-bottom: 50px;
    }
    .header__body_top {
        width: 45%;
        left: 43%;
    }
    .header {
        background-repeat: no-repeat;
        height: 460px;
        background-position-x: 40%;
    }
    .adv__item_text img {
        width: 40px;
        height: 40px;
    }
    .header__body_top img {
        width: 70px;
    }
    .header__body_top a {
        margin-top: 5px;
        font-size: 14px;
    }
    .header__body {
        text-align: center;
        padding-top: 8vh;
    }
    .header__body_desc {
        font-size: 30px;
    }
    .header__body_ashley {
        font-size: 36px;
    }
    .header__body_ashley {
        letter-spacing: 10px;
    }
    .header__body_join {
        font-size: 20px;
    }
    .header__body_down {
        width: 20px;
        margin-top: 45px;
    }
    .adv_item_icon {
        height: 40px;
    }
    .adv__item_text {
        font-size: 16px;
        width: 50%;
    }
    .adv_item_right img {
        width: 40px;
        height: 40px;
    }
    .adv__list_header img {
        width: 70px;
    }
    .different__body_item_text {
        font-size: 16px;
    }
    .different__body_title {
        font-size: 25px;
        font-weight: 600;
    }
    .not__body_text {
        width: 50%;
        text-align: left;
        font-size: 14px;
    }
    .msg__body_title {
        font-size: 30px;
    }
    .msg__body_desc {
        font-size: 20px;
    }
    .text__body_desc {
        font-size: 22px;
    }
    .footer__body_title {
        width: 100%;
        font-size: 24px;
    }
    .footer__body_button {
        width: 70%;
        font-size: 18px;
        margin-top: 15px;
    }
    .footer__body_text {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .footer__body_button_2 {
        width: 70%;
        font-size: 18px;
    }
    .msg__body_image img {
        width: 85%;
        margin-left: 0%;
        margin: 0 auto;
    }
    .footer__body_text {
        width: 90%;
        font-size: 18px;
        margin-bottom: 20px;
        margin: 0 auto;
    }
    .header__body_join {
        font-size: 16px;
    }
    .header__body_top {
        width: 80%;
        left: 0%;
    }
    .msg__text {
        font-size: 16px;
        width: 100%;
    }
    .text__body {
        width: 75%;
        margin: 0 auto;
    }
    .footer__title {
        font-size: 25px;
    }
    .footer_desc {
        margin-top: 20px;
        font-size: 22px;
        margin-bottom: 30px;
    }
    .footer_button {
        font-size: 20px;
        width: 80%;
    }
    .footer_counter {
        margin: 0 auto;
        margin-top: 30px;
        width: 60%;
    }
    .footer_links a {
        margin-right: 5px;
        display: flex;
        color: #ED5C82;
        font-size: 20px;
    }
    .footer__body_button_2 {
        width: 80%;
        font-size: 18px;
        margin-top: 20px;
    }
    .header__body {
        text-align: center;
        padding-top: 4vh;
    }
    .woman__banner {
        width: 100vw;
        max-width: 1920px;
        margin-top: 30px;
        object-fit: contain;
        height: 22vh;
    }
    .header__body_top {
        width: 50%;
        left: 16%;
    }
    .header__body_top img {
        width: 100px;
    }
    .header__body_top a {
        margin-top: 10px;
        font-size: 20px;
    }
    .header__body_ashley {
        font-size: 30px;
    }
    .header__body_join {
        font-size: 22px;
        line-height: 35px;
    }
    .adv__list_header img {
        width: 120px;
        height: 50px;
    }
    .adv__list_header {
        width: 120%;
        left: -10%;
    }
    .list_vs {
        width: 25px !important;
        height: 15px !important;
    }
    .not_cards img {
        width: 80%;
        margin-bottom: 20px;
    }
    .msg__image {
        width: 200px;
    }
    .msg__body>img {
        width: 25px;
        height: 20px;
        margin-top: 30px;
        margin-left: 15px;
    }
    .msg_icon {
        width: 50px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .header {
        height: 100vh;
    }
    .header__body_text {
        width: 90%;
        margin: 0 auto;
    }
    .header__body {
        text-align: center;
        padding-top: 18vh;
    }
}

@media (max-width: 430px) {
    .header__body {
        text-align: center;
        padding-top: 14vh;
    }
    .header__body_ashley {
        font-size: 28px;
    }
    .different__body_item_text {
        font-size: 16px;
        text-align: left;
    }
    .text__body {
        width: 75%;
        margin: 0 auto;
    }
    .text__body_title {
        font-size: 25px;
    }
    .text__body_desc {
        font-size: 18px;
    }
    .footer {
        background-position-x: 50%;
    }
    .header_button {
        width: 90%;
    }
    .header_button i {
        font-size: 12px;
    }
    .woman__banner {
        width: 100vw;
        max-width: 1920px;
        margin-top: 30px;
        height: 22vh;
    }
    .adv__list_header img {
        width: 70px;
        height: 30px;
    }
    .list_vs {
        width: 50px;
        height: 20px;
        position: relative;
        bottom: 0px;
    }
    .footer__title {
        font-size: 23px;
    }
    .adv__item_desc {
        font-weight: 500;
        font-size: 15px;
        width: 100%;
    }
    .header__body_top a {
        margin-top: 5px;
        font-size: 16px;
    }
    .woman__banner {
        width: 100vw;
        max-width: 1920px;
        margin-top: 30px;
        height: 12vh;
    }
    .adv__list_header {
        width: 109%;
        left: -5%;
    }
    .header__body_top a {
        margin-top: 10px;
        font-size: 16px;
    }
    .header__body_top img {
        width: 80px;
    }
    .header__body_ashley {
        font-size: 24px;
    }
    .header__body_join {
        font-size: 20px;
        line-height: 35px;
    }
    .msg__image {
        width: 150px;
    }
    .msg_icon {
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .msg__text {
        font-size: 14px;
        width: 100%;
    }
    .msg__body>img {
        margin-left: 0px;
    }
    .footer_button {
        padding: 12px 40px;
    }
    .footer_button {
        font-size: 14px;
        width: 70%;
    }
    .adv__list_header img {
        width: 100px;
        height: 40px;
    }
    .adv__list_header {
        width: 115%;
        left: -7%;
    }
    .msg__body>img {
        height: 15px;
    }
    .footer {
        background-position-x: 50%;
        padding-bottom: 23vh;
    }
    .footer_button {
        font-size: 14px;
        width: 80%;
    }
}

@media (max-width: 375px) {
    .header__body_text {
        height: 80vh;
        width: 90%;
        margin: 0 auto;
    }
    .header__body {
        text-align: center;
        padding-top: 10vh;
    }
    .header_button {
        font-size: 16px;
        margin-top: 15px;
        padding: 15px 20px;
    }
    .footer_button i {
        font-size: 10px;
        position: relative;
        bottom: 1px;
    }
    .footer__body_button_2 {
        width: 90%;
        font-size: 18px;
        margin-top: 20px;
    }
    .footer__body_button_2 i {
        font-size: 3vw;
        position: relative;
    }
    .popup__notify {
        bottom: 25%;
        left: calc(100vw - 335px);
    }
    .header {
        background-position-x: 35%;
    }
    .adv__item_text {
        font-size: 12px;
        width: 50%;
    }
    .header__body_join {
        font-size: 14px;
    }
    .adv__list_header img {
        width: 50px;
    }
    .adv__list_header {
        width: 44%;
        left: 59%;
    }
    .not__body_title {
        font-size: 30px;
    }
    .not__body_text {
        width: 70%;
        text-align: left;
        font-size: 14px;
    }
    .not__body_header {
        left: 7%;
    }
    .footer__body_text {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .adv__list_header {
        width: 100%;
        left: 0%;
    }
    .adv__list_header img {
        width: 70px;
        height: 35px;
    }
    .adv__list_header img {
        height: 25px;
    }
}